{{- if (and (eq .chezmoi.hostname "anlorsp-main") (eq .chezmoi.os "linux")) }}
[".config/ibus/rime_source/oh-my-rime"]
	type = "archive"
	url = "https://gh-proxy.org/https://github.com/Mintimate/oh-my-rime/archive/refs/heads/main.zip"
	stripComponents = 1
	refreshPeriod = "720h"
[".config/ibus/rime_source/wanxiang/wanxiang-lts-zh-hans.gram"]
	type = "file"
	url = "https://cnb.cool/Mintimate/rime/oh-my-rime/-/releases/download/latest/wanxiang-lts-zh-hans.gram"
	refreshPeriod = "720h"
{{- end }}
