install.sh
key.txt.age
.gnupg/gpg-secret-keys.asc
.gnupg/gpg-ownertrust.txt
{{- if ne .chezmoi.hostname "anlorsp-main" }}
.config/aria2
.config/restore.list.age

.gnupg
.ssh
{{- end }}

{{- if (or (ne .chezmoi.hostname "anlorsp-main") (ne .chezmoi.os "linux")) }}
.config/containers/systemd
.config/environment.d
.config/hypr
.config/rime
.config/onedrive
.config/systemd
.config/autostart
.local
{{- end }}

{{- if not .git.user }}
.config/git/conf.d/50-user.conf
{{- end }}
