{{- if eq .chezmoi.hostname "anlorsp-main" -}}
encryption = "age"
[age]
	identity = "~/.config/chezmoi/key.txt"
	recipient = "age1dgaerd5mepygcxswn8j73cxwxt9zeygaq64wdgll5j2w5wgr7gxsquygu0"

[data.encrypt]
	key_dir = "~/.config/chezmoi"
{{- end }}

[git]
    autoCommit = true