{{- if eq .chezmoi.hostname "anlorsp-main" -}}
encryption = "age"
[age]
	identity = "{{- .encrypt.key_dir }}/key.txt"
	recipient = "age1kjgca83cddd4cpklus7s762fftwexpg32jazhvaajw7hq26cd9vst0uk2v"

[data.encrypt]
	key_dir = "{{- .chezmoi.homeDir }}/.config/chezmoi"
{{- end }}

[git]
    autoCommit = false