install.sh
key.txt.age
.gnupg/gpg-secret-keys.asc
.gnupg/gpg-ownertrust.txt
{{- if ne .chezmoi.hostname "anlorsp-main" }}
.config/*
!.config/pip
!.config/tmux
!.config/containers/containers.conf
!.config/containers/registries.conf
.gnupg
.ssh
{{- end }}

{{- if (or (ne .chezmoi.hostname "anlorsp-main") (ne .chezmoi.os "linux")) }}
.local
{{- end }}
