install.sh
key.txt.age
.gnupg/gpg-secret-keys.asc
.gnupg/gpg-ownertrust.txt
{{- if ne .chezmoi.hostname "anlorsp-main" }}
.config
.gnupg
.ssh
{{- if ne .chezmoi.os "linux" }}
.local
{{- end}}
{{- end }}
