{{- if eq .chezmoi.hostname "anlorsp-main" -}}
encryption = "age"

[age]
	identity = "{{- .chezmoi.homeDir }}/.config/chezmoi/key.txt"
	recipient = "age1kjgca83cddd4cpklus7s762fftwexpg32jazhvaajw7hq26cd9vst0uk2v"

[data.encrypt]
	key_dir = "{{- .chezmoi.homeDir }}/.config/chezmoi"
{{ end }}

{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- $container:= env "container" | not | not }}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
	codespaces = {{ $codespaces }}
	container = {{ $container }}

[git]
    autoCommit = true
