{{- if (and (eq .chezmoi.hostname "anlorsp-main") (eq .chezmoi.os "linux")) }}
[".config/ibus/rime_source/oh-my-rime"]
	type = "archive"
	url = "https://gh-proxy.org/https://github.com/Mintimate/oh-my-rime/archive/refs/heads/main.zip"
	stripComponents = 1
	refreshPeriod = "720h"
{{- end }}
