{{- if not .container -}}
#!/bin/bash
RIME_PATH="$HOME/.config/rime"
INSTALL_PATHS=(
  "$HOME/.config/ibus/rime"
  "$HOME/.var/app/org.fcitx.Fcitx5/data/fcitx5/rime"
  "$HOME/.local/share/fcitx5/rime"
)

relative_path() {
  perl -MFile::Spec -e 'print File::Spec->abs2rel($ARGV[0], $ARGV[1])' "$1" "$2"
}

for install_path in "${INSTALL_PATHS[@]}"; do
  mkdir -p "$install_path"
  for source_path in "$RIME_PATH"/oh-my-rime/* "$RIME_PATH"/rime_custom/* "$RIME_PATH"/wanxiang/*; do
    [ -e "$source_path" ] || continue
    ln -sfn "$(relative_path "$source_path" "$install_path")" "$install_path/$(basename "$source_path")"
  done
done
{{- end }}
