[include]
{{- if eq .chezmoi.hostname "anlorsp-main" }}
	path = conf.d/50-user.conf
{{- end }}
{{- if .accel }}
	path = conf.d/50-accel.conf
{{- end }}
[init]
	defaultBranch = main
[pull]
	rebase = false
[color]
	ui = auto
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
