[include]
	path = ~/.config/git/conf.d/50-user.conf
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[pull]
	rebase = false
[color]
	ui = auto
[gpg]
	format = ssh
{{- if .accel }}
[url "https://gh-proxy.org/https://github.com/"]
	insteadOf = https://github.com/
{{- end }}
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
