[user]
	signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPvpNFduKNTpSVvXq1eR7Xs/EHA+2mHup/zOP+JE7Gvj anlorsp@archlinux
	name = Anlor
	email = {{ .email | quote }}
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[pull]
	rebase = false
[color]
	ui = auto
[gpg]
	format = ssh
{{- if .accel }}
[url "https://gh-proxy.org/https://github.com/"]
	insteadOf = https://github.com/
{{- end }}
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
