{
  "env": {
{{- if .proxy }}
    "http_proxy": "{{ .proxy }}",
    "https_proxy": "{{ .proxy }}",
    "all_proxy": "{{ .proxy }}",
    "HTTP_PROXY": "{{ .proxy }}",
    "HTTPS_PROXY": "{{ .proxy }}",
    "ALL_PROXY": "{{ .proxy }}",
{{- end }}
    "no_proxy": "localhost,127.0.0.0/8,::1",
    "NO_PROXY": "localhost,127.0.0.0/8,::1",
    "NODE_USE_ENV_PROXY": "1"
  }
}
