[Container]
PublishPort=6882:32516/tcp
PublishPort=6882:32516/udp
PublishPort=127.0.0.1:6800:6800
#PublishPort=8080:8080
Image=docker.io/superng6/aria2:latest
ContainerName=docker-aria2
EnvironmentFile=%h/.config/aria2/docker-aria2.env
Volume=%h/.config/aria2:/config
Volume=%h/Downloads:/downloads
Volume=%h/.local/share/CA/aria2.anlor.localhost/:/config/ssl

AutoUpdate=registry

[Service]
Restart=on-failure

[Install]
WantedBy=default.target